@inject HttpClient client
@using System.Text.Json
@using DevChat.Share.Dtos
@using DevChat.Client.FormModels

<FluentStack Orientation="Orientation.Vertical">
    <FluentStack
        HorizontalGap="8"
        Orientation="Orientation.Horizontal"
        HorizontalAlignment="HorizontalAlignment.End">
        <FluentButton
            IconEnd="@(new Icons.Regular.Size24.Search())"
            Title="Search" />
        <FluentButton
            Id="new-chat-button"
            OnClick="@(() => newChatPopoverOpen = !newChatPopoverOpen)"
            IconEnd="@(new Icons.Regular.Size24.Add())"
            Title="New Chat"/>
        <FluentPopover
            Style="width: 260px;"
            AnchorId="new-chat-button"
            @bind-Open="newChatPopoverOpen"
            HorizontalPosition="HorizontalPosition.Left">
            <Header >
                <p><b>New Chat</b></p>
            </Header>
            <Body>
                <EditForm Model="@newChatSearch" OnValidSubmit="@SearchNewChat">
                    <FluentStack
                        HorizontalGap="4"
                        Orientation="Orientation.Horizontal">
                        <FluentTextField @bind-Value="newChatSearch.Email"
                            Placeholder="Enter email to search..." />
                        <FluentButton
                            Type="ButtonType.Submit"
                            IconEnd="@(new Icons.Regular.Size24.Search())"
                            Title="Search" />
                    </FluentStack>
                </EditForm>
            </Body>
            <Footer>
                @if (searchingNewChat)
                {
                    <FluentProgress></FluentProgress>
                }
            </Footer>
        </FluentPopover>
    </FluentStack>
    @if (displayingNewChatResult)
    {
        <FluentCard>
            <FluentStack
                Orientation="Orientation.Vertical"
                VerticalGap="8">
                <FluentLabel
                    Typo="Typography.Header">
                    Search Result
                </FluentLabel>
                <FluentLabel
                    Typo="Typography.Body">
                    Email: @newChatResult.Email
                </FluentLabel>
                <FluentButton
                    Appearance="Appearance.Accent"
                    IconEnd="@(new Icons.Regular.Size20.Send())"
                    Title="Message">
                    Message
                </FluentButton>
            </FluentStack>
        </FluentCard>
    }
</FluentStack>

@code {
    private bool newChatPopoverOpen = false;
    private NewChatSearchModel newChatSearch { get; set; } = new();
    private bool displayingNewChatResult = false;
    private UserDtoForViewing newChatResult;
    private bool searchingNewChat = false;

    private async Task SearchNewChat()
    {
        searchingNewChat = true;
        // yields to the UI thread to render the loading UI
        await Task.Delay(1);
        var res = await client.GetAsync($"/conversation/GetUserByEmail?email={newChatSearch.Email}");
        var userJson = await res.Content.ReadAsStringAsync();
        var user = JsonSerializer.Deserialize<UserDtoForViewing>(userJson, new JsonSerializerOptions()
        {
            PropertyNameCaseInsensitive = true,
        });
        newChatResult = user;
        searchingNewChat = false;
        displayingNewChatResult = true;
        newChatPopoverOpen = false;
        newChatSearch.Email = string.Empty;
    }
}
